{% extends 'base.html.twig' %}

{% block title %}New Brand{% endblock %}

{% block body %}
    <h1>Créer une nouvelle marque</h1>

    {{ include('brand/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('app_brand_index') }}">Toutes les marques</a>
{% endblock %}
